<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>RVS Management</title>
      <style>
         .salary-slip{
         margin: 15px;
         }
         .empDetail {
         width: 100%;
         text-align: left;
         border: 2px solid black;
         border-collapse: collapse;
         table-layout: fixed;
         }
         .empDetailFirst {
         width: 100%;
         text-align: left;
         {{!-- border: 2px solid black; --}}
         border-collapse: collapse;
         table-layout: fixed;
         }
         .head {
         margin: 10px;
         margin-bottom: 50px;
         width: 100%;
         }
         .companyName {
         text-align: right;
         font-size: 25px;
         font-weight: bold;
         }
         .salaryMonth {
         text-align: center;
         }
         .table-border-bottom {
         border-bottom: 1px solid;
         }
         .table-border-right {
         border-right: 1px solid;
         }
         .myBackground {
         padding-top: 10px;
         text-align: left;
         border: 1px solid black;
         height: 40px;
         }
         .myAlign {
         {{!-- text-align: center; --}}
         border-right: 1px solid black;
         }
         .myTotalBackground {
         padding-top: 10px;
         text-align: left;
         background-color: #EBF1DE;
         border-spacing: 0px;
         }
         .align-4 {
         width: 25%;
         float: left;
         }
         .tail {
         margin-top: 35px;
         }
         .align-2 {
         margin-top: 25px;
         width: 50%;
         float: left;
         }
         .border-center {
         text-align: center;
         }
         .border-center th, .border-center td {
         border: 1px solid black;
         }
         th, td {
         padding-left: 6px;
         }

         .uperleft {
         text-align: left;
         font-size: 20px;
         font-weight: bold;
         }
         .uperleft {
         text-align: left;
         font-size: 20px;
         font-weight: bold;
         }
      </style>
   </head>
   <body>
      <div class="salary-slip" >
         <table class="empDetailFirst">
            <tr height="50px" style='background-color: #fff'>
              
               <h4 style="text-align: center;">RVS Media</h4>
            </tr>
            <tr>
               <td colspan='3'></td>
               <th colspan='1'>
                  Name 
               </th>
               <td colspan='1'>
                  Example
               </td>
               <th colspan='1'>
                  Bank Code
               </th>
               <td colspan='1'>
                  ABC123
               </td>
               <td colspan='3'></td>
               
            </tr>
            <tr>
               <td  colspan='3'></td>
               <th>
                  Employee Code
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <th>
                  Bank Name
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <td  colspan='3'></td>
               
            </tr>
            <tr>
               <td  colspan='3'></td>
               <th>
                  Cost Centre
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <th>
                  Bank Branch
               </th>
               <td>
                  XXXXXXXXXX
               </td>
               <td  colspan='3'></td>
               
            </tr>
          
           
           
          
            
           
            
            
           
  
    
            <tbody class="border-center">
               
    
            </tbody>
         </table >
      </div >


      <div class="salary-slip" >
         <table class="empDetail">
            <tr height="100px" style='background-color: #fff'>
               {{!-- <td colspan='4'>
               </td>
               <td colspan='4' class="companyName"> Co-Operative Bank Ltd.</td> --}}
               <h4 style="text-align: center;">RVS Media</h4>
            </tr>
            <tr>
               <td colspan='3'></td>
               <th colspan='1'>
                  Name 
               </th>
               <td colspan='1'>
                  Example
               </td>
               <th colspan='1'>
                  Bank Code
               </th>
               <td colspan='1'>
                  ABC123
               </td>
               <td colspan='3'></td>
               
            </tr>
            <tr>
               <td  colspan='3'></td>
               <th>
                  Employee Code
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <th>
                  Bank Name
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <td  colspan='3'></td>
               
            </tr>
            <tr>
               <td  colspan='3'></td>
               <th>
                  Cost Centre
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <th>
                  Bank Branch
               </th>
               <td>
                  XXXXXXXXXX
               </td>
               <td  colspan='3'></td>
               
            </tr>
            <tr>
               <td colspan='3'></td>
               <th>
                  CC Description:
               </th>
               <td>
                  XXXXXXXXXXX
               </td>
               <th>
                  Bank A/C no.
               </th>
               <td>
                  XXXXXXXXXX
               </td>
               <td colspan='3'></td>
               
            </tr>
            <tr>
               <td colspan='3'></td>
               <th>
                  Grade:
               </th>
               <td>
                  18
               </td>
               <th>
                  Employee Group
               </th>
               <td>
                  Sales Manager
               </td>
               <td colspan='3'></td>
               
            </tr>
            <tr class="myBackground">
               <td colspan='2'></td>

               <th colspan="2" class="table-border-right">
                  Earnings and Reimbursements
               </th>
               <th class="table-border-right">
                  Amount (Rs.)
               </th>
               {{!-- <th class="table-border-right">
                  Particular
               </th> --}}
               <th colspan="2" class="table-border-right">
                  Deductions
               </th>
               {{!-- <th class="table-border-right">
                  Particular
               </th> --}}
               <th>
                  Amount (Rs.)
               </th>
            </tr>
            <tr>
               <td colspan='2'></td>

               <th colspan="2" class="myAlign">
                  Basic Salary
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  4935.00
               </td>
               <th colspan="2" class="myAlign">
                  Provident Fund
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2" class="myAlign">
                  Fixed Dearness Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  LIC
               </th >
               <td class="">
                  00.00
               </td>
               {{!-- <td></td> --}}
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  Variable Dearness Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  Loan
               </th >
               {{!-- <td></td> --}}
               <td>
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  House Rent Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  Professional Tax
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  Graduation Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  Security Deposite(SD)
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  Conveyance Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  Staff Benefit(SB)
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  Post Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  Labour Welfare Fund
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan='2'></td>

               <th colspan="2"  class="myAlign">
                  Special Allowance
               </th>
               {{!-- <td></td> --}}
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" class="myAlign">
                  NSC
               </th >
               {{!-- <td></td> --}}
               <td class="">
                  00.00
               </td>
            </tr >

            
            
           


            <tr class="myBackground">
               <th colspan="2"  class="myAlign">
                  Total Payments
               </th>
               <td class="myAlign">
                  10000
               </td>
               <th colspan="2" class="myAlign">
                  Total Deductions
               </th >
               <td class="myAlign">
                  1000
               </td>
            </tr >
            <tr height="40px">
               <th colspan="2">
                  Projection for Financial Year:
               </th>
               <th>
               </th>
               <td class="table-border-right">
               </td>
               <th colspan="2" class="table-border-bottom" >
                  Net Salary
               </th >
               <td >
               </td>
               <td >
                  XXXXXXXXXX
               </td>
            </tr >
            <tr>
               <td colspan="2">
                  Gross Salary
               </td>
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
               <td colspan="4"></td>
            </tr >
            <tr>
               <td colspan="2">
                  Aggr. Dedu - P.Tax & Std Ded
               </td>
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
               <th colspan="2" >
                  Cumulative
               </th >
               <td colspan="2"></td>
            </tr >
            <tr>
               <td colspan="2">
                  Gross Total Income
               </td>
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
               <td colspan="2" >
                  Empl PF Contribution
               </td >
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
            </tr >
            <tr>
               <td colspan="2">
                  Aggr of Chapter "PF"
               </td>
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
               <td colspan="4"></td>
            </tr >
            <tr>
               <td colspan="2">
                  Total Income
               </td>
               <td></td>
               <td class="myAlign">
                  00.00
               </td>
               <td colspan="4"></td>
            </tr >
            <tbody class="border-center">
               <tr>
                  <th>
                     Attend/ Absence
                  </th>
                  <th>
                     Days in Month
                  </th>
                  <th>
                     Days Paid
                  </th>
                  <th>
                     Days Not Paid
                  </th>
                  <th>
                     Leave Position
                  </th>
                  <th>
                     Privilege Leave
                  </th>
                  <th>
                     Sick Leave
                  </th>
                  <th>
                     Casual Leave
                  </th>
               </tr>
               <tr>
                  <td ></td>
                  <td ></td>
                  <td ></td>
                  <td ></td>
                  <td>Yrly Open Balance</td>
                  <td>0.0</td>
                  <td>0.0</td>
                  <td>0.0</td>
               </tr >
               <tr>
                  <th >Current Month</th>
                  <td >31.0</td>
                  <td >31.0</td>
                  <td >31.0</td>
                  <td>Availed</td>
                  <td>0.0</td>
                  <td>0.0</td>
                  <td>0.0</td>
               </tr >
               <tr>
                  <td colspan="4"></td>
                  <td>Closing Balance</td>
                  <td>0.0</td>
                  <td>0.0</td>
                  <td>0.0</td>
               </tr >
               <tr>
                  <td colspan="4"> &nbsp; </td>
                  <td > </td>
                  <td > </td>
                  <td > </td>
                  <td > </td>
               </tr >
               <tr>
                  <td colspan="4"></td>
                  <td>Company Pool Leave Balance</td>
                  <td>1500</td>
                  <td ></td>
                  <td ></td>
               </tr >
            </tbody>
         </table >
               <img src="https://www.rvsmedia.co.uk/wp-content/uploads/2020/01/rvs_logonew.png"/>


      </div >
      </div>
   </body>
   </html>