<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample PDF</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>{{name}}'s Hobbies</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hobby</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each hobbies}}
        <tr>
          <td>{{this}}</td>
          <td>Description for {{this}} goes here.</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
