<html lang="en">
<head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<style>
    .table.table-unruled>tbody>tr>td,
.table.table-unruled>tbody>tr>th {
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
}
</style>

</head>
<div class="container">
  

    <div class="">
      <table class="table table-bordered table-unruled">
        .table .table-bordered .table-unruled
        <thead>
          <tr>
            <th>aggg</th>
            <th>bfff</th>
            <th>cfff</th>
            <th>bfff</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>afff</td>
            <td>bsss</td>
            <td>cfff</td>
            <td>afff</td>
          </tr>
          <tr>
            <td>adddd</td>
            <td>bffff</td>
            <td>afff</td>
            <td>cdddd</td>
        </tbody>
        <tfoot>
          <tr>
            <th>addd</th>
            <th>bfff</th>
            <td>afff</td>
            <th>csss</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>